@import "tailwindcss";

/* src/app/globals.css */
:root {
  /* Fondo principal: un beige/crema apagado simulando papel viejo */
  --paper-bg: #fbf1c7; 
  /* Texto principal: un marrón muy oscuro/carbón, no negro puro para no cansar la vista */
  --ink-dark: #3c3836;
  /* Detalles y separadores: un tono óxido o sepia */
  --sepia-accent: #b57614; 
}

body {
  background-color: var(--paper-bg);
  color: var(--ink-dark);
  /* Agregamos una textura sutil de ruido de fondo para simular desgaste */
  background-image: url('/textures/noise.svg');
}